.about {
    position: relative;
    height: 100vh;
    background-color: var(--dark);
    padding: 100px 0;
    z-index: 2;


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .textWrapper {
        display: flex;
        flex-direction: column;



        .iconWrapper {
            display: flex;

            &:last-child {
                justify-content: flex-end;
            }

            svg {
                width: clamp(100px, 100px + 100 * ((100vw - 375px) / 2200), 200px);
                height: clamp(100px, 100px + 100 * ((100vw - 375px) / 2200), 200px);
            }
        }
    }

    @media (max-width: 1200px) {
        .textWrapper {
            gap: 35px;
        }
    }
}