.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 100;



    .body {
        position: relative;
        height: 100%;
        padding: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: var(--absolute-white);

    }

    .footer {
        ul {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 18px;
                color: var(--absolute-black);
            }
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 56px;
        margin-top: 80px;
    }

    @media (max-width: 768px) {
        width: 60%;

        .body {
            padding: 55px;
            justify-content: unset;
            gap: 20px;

        }
    }

    @media (max-width: 530px) {
        width: 100%;
    }
}