@font-face {
  font-family: "Inter";
  src: url("../../../../public/assets/fonts/Inter-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../../../public/assets/fonts/Inter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../../../public/assets/fonts/Inter-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../../../public/assets/fonts/Inter-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

