.marquee {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    p {
        display: flex;
        align-items: center;
        font-weight: 600;
        margin: 0;
        color: var(--grey);
        font-size: 9em;
        pointer-events: none;
        text-transform: uppercase;

        span {
            padding: 0 3vw;
            color: var(--grey);
        }
    }

    p:nth-of-type(2) {
        left: 100%;
    }
}