.cursor {
    position: fixed;
    display: flex;
    width: 15px;
    height: 15px;
    background-color: var(--absolute-white);
    border-radius: 50%;
    z-index: 500;
    pointer-events: none;
    transition: opacity .3s ease-in-out;

    .text {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(188deg);
        
        display: none;


    }

    &.hidden {
        opacity: 0;
    }

    &.pointer {
        mix-blend-mode: exclusion;
    }

    &.pointer.interactive {
        .text {
            display: block;
            mix-blend-mode: exclusion;
        }
    }


    &.inverse {
        mix-blend-mode: exclusion;
    }

    @media (max-width: 992px) {
        display: none;
    }
}