.cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: var(--absolute-white);
    border-radius: 50%;
    z-index: 500;
    pointer-events: none;
    transition: opacity .3s ease-in-out;

    &.hidden {
        opacity: 0;
    }

    &.pointer {
        mix-blend-mode: exclusion;
    }


    &.inverse {
        mix-blend-mode: exclusion;
    }

    @media (max-width: 992px) {
        display: none;
    }
}