.intro {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .textWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: clamp(500px, 500px + 800 * ((100vw - 360px) / 2200), 1300px);
    }

    .smallTitle {
        font-size: clamp(14px, 14px + 10 * (100vw - 360px) / 2200, 24px);
        text-transform: uppercase;
        pointer-events: none;
    }

    .sectionTitle {
        display: flex;
        flex-direction: column;
        gap: 5px;
        pointer-events: none;
    }

    .description {
        font-size: clamp(25px, 25px + 30 * (100vw - 360px) / 2200, 55px);
    }

    .invitation {
        position: absolute;
        bottom: 4%;
        text-align: center;
        width: 100%;
        font-size: 14px;
        mix-blend-mode: difference;
        z-index: 1;
    }

    .sceneWrapper {
        width: 100%;
        height: 80vh;
        pointer-events: none;
        filter: contrast(1.05) saturate(1.1);
    }

    @media (max-width: 1200px) {
        .container {
            height: 100%;
        }

        .sceneWrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            z-index: -1;
        }
    }

}


@keyframes float {

    0%,
    100% {
        transform: translateY(0px) scale(1);
    }

    50% {
        transform: translateY(-20px) scale(1.15);
    }
}