.work {
    padding: 100px 0;
    height: 100vh;
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 100%;
    }

    .cardsWrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: start;
        gap: 50px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex: 1 0 50%;
        height: 100%;
        margin-right: 0;

        .imgWrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 65vh;

            @media (max-height: 970px) {
                height: 62vh;
            }

            .backgroundCard {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }

        img {
            position: relative;
            width: 70%;
            height: fit-content;
            object-fit: contain;
            z-index: 2;
        }

        .inDeveloping {
            width: 100%;
            height: 100%;
            background-color: var(--orange);

        }


        .textWrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .name {
                color: var(--orange);
            }
        }
    }


    @media (max-width: 1920px) {
        padding: 80px 0;
    }

    @media (max-width: 1440px) {
        .cardsWrapper {
            gap: 30px;
        }

        .card {
            .imgWrapper {
                height: 60vh;
            }
        }
    }

    @media (max-width: 1200px) {
        padding: 60px 0;

        .container {
            gap: 35px;
        }

        .card {
            flex: 1 0 100%;
        }
    }

    @media (max-width: 992px) {
        .card {
            .imgWrapper {
                img {
                    width: 95%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 35px 0;
    }
}