.work {
    padding: 100px 0;
    height: 100vh;
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 100%;
    }

    .cardsWrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: start;
    }

    .card {
        height: 100%;
        flex: 1 0 50%;
        margin-right: 50px;
        background-color: var(--orange);
        
        &:last-child {
            margin-right: 0;
        }
    }
}