.work {
    padding: 100px 0;
    height: 100vh;
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 100%;
    }

    .cardsWrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: start;
        gap: 32px; 
    }

    .card {
        height: 100%;
        flex: 1 0 50%; 
        background-color: var(--orange);

        margin-right: 0;

        @media (max-width: 1200px) {
            flex: 1 0 100%;
        }
    }

    @media (max-width: 1920px) {
        padding: 80px 0;
    }

    @media (max-width: 1440px) {
        .cardsWrapper {
            gap: 30px;
        }
    }

    @media (max-width: 1200px) {
        padding: 60px 0;

        .container {
            gap: 35px;
        }
    }

    @media (max-width: 768px) {
        padding: 35px 0;
    }
}