.intro {
    
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 80px;

    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .textWrapper {
        position: relative;
        width: 100%;
        max-width: clamp(500px, 500px + 800 * ((100vw - 360px) / 2200), 1300px);
    }

    .sectionTitle {
        display: flex;
        flex-direction: column;
        gap: 5px;
        pointer-events: none;
    }

    .invitation {
        position: absolute;
        bottom: 4%;
        text-align: center;
        width: 100%;
        font-size: 14px;
        mix-blend-mode: difference;
        z-index: 1000;
    }

    .flutedGlass {
        position: absolute;
        top: 0;
        left: 0;
    }

    @media (max-width: 1200px) {
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .sectionTitle {
            text-align: center;
        }

        .shape1 {
            width: 40%;
        }

        .shape2 {
            bottom: 0%;
            right: 70%;
            width: 50%;
            height: 60%;
        }

        .shape3 {
            width: 50%;
        }

        .glassPanel {
            width: 100%;
        }
    }

}


@keyframes float {

    0%,
    100% {
        transform: translateY(0px) scale(1);
    }

    50% {
        transform: translateY(-20px) scale(1.15);
    }
}