.header {
    padding: 30px 0;
    position: relative;
    width: 100%;
    z-index: 1000;
    mix-blend-mode: exclusion;

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        svg {
            path {
                fill: var(--absolute-white);
                mix-blend-mode: exclusion;
            }
        }
    }

    .magneticBurgerBtn {
        position: fixed !important;
        top: 20px;
        right: 20px;
    }

    .burger {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        cursor: pointer;
        pointer-events: none;

        &::before,
        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 44px;
            height: 2px;
            left: 7px;
            background-color: var(--absolute-white);
            transition: all .3s linear;
        }


        &::after {
            top: 25px;
        }

        &::before {
            top: 35px;
        }

        &.burgerActive {
            &::after {
                top: 30px;
                transform: rotate(-45deg);
            }

            &::before {
                top: 30px;
                transform: rotate(45deg);
            }
        }
    }

    .bounds {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: all;

        &:hover {
            transform: scale(3);
        }
    }
}